<section id="profile-section" class="profile-container" style="display: none;">
    <img id="profile-avatar" src="" alt="User Avatar" class="profile-avatar">
    <div class="profile-details">
        <a id="profile-link" href="" target="_blank" rel="noopener noreferrer" class="profile-name-link">
            <h2 id="profile-name" class="profile-name"></h2>
            <p id="profile-login" class="profile-login"></p>
        </a>
        <p id="profile-bio" class="profile-bio"></p>
        <div class="profile-stats">
            <span id="profile-followers" class="stat-item"></span>
            <span id="profile-following" class="stat-item"></span>
            <span id="profile-repos" class="stat-item"></span>
            <button id="download-repos-btn" class="btn btn-icon download-profile-btn" title="Download Repos">
                <span class="material-symbols-outlined">download</span>
            </button>
            <span id="profile-commits" class="stat-item"></span>

            <button id="view-stats-btn" class="btn btn-outlined" style="margin-left: auto;">
                <span class="material-symbols-outlined">query_stats</span> View Analytics
            </button>
        </div>
        </div>
</section>

<section id="profile-readme-container" class="profile-readme-container" style="display: none;">
    <div id="profile-readme-content" class="readme-container"></div>
</section>
